name: simple CI

on:
  push:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD}}" | docker login \
            -u "${{secrets.DOCKER_USERNAME}}" --password-stdin

      - name: Build docker image
        run: |
          docker build -t robbyarsyadani/simple-ci-cd-express:latest .

      - name: Push Docker Image
        run: |
          docker push robbyarsyadani/simple-ci-cd-express:latest
